@charset "utf-8";
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
body {
    background-color: #aaa;
    font-size: 28px;
}
.page {
    position: relative;
    display: block;
    background-color: #fff;
    margin: 0 auto 40px auto;
    width: 800px;
    height: 600px;
    box-shadow: 8px 8px 5px #666;
}
header, footer {
    width: 100%;
    background-color: rgba(0, 160, 200, 0.7);
}
header {
    padding-top: 8px;
    height: 10%;
}
h1 {
    font-size: 36px;
    margin: 0;
    padding: 4px 16px;
    text-shadow: 4px 4px 4px #069;
}
footer {
    position: absolute;
    bottom: 0px;
    height: 28px;
    text-transform: uppercase;
}
footer a.top {
    margin-top: 5px;
    margin-left: 16px;
    width: 4em;
    height: 1.0em;
    padding: 0.25em 0;
    color: #005;
    font-size: 12px;
    text-align: center;
    display: block;
    border: 1px solid rgba(0, 80, 120, 0.8);
    border-radius: 1em;
    text-decoration: none;
    box-shadow: 1px 1px 0 rgba(0, 80, 120, 0.8);
}
footer a.top:hover {
    color: #00f;
    background-color: rgba(255, 255, 255, 0.2);
}
footer a.top:active {
    margin-top: 6px;
    margin-left: 1px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 #000;
}
.content{
    padding: 32px 16px;
}

/* ナビゲーション */
.navigation a {
    display: block;
    position: absolute;
    top: 0;
    text-indent: -9999px;
    width: 15%;
    height: 100%;
}
.navigation a:hover {
    background-color: rgba(216, 216, 216, 0.4);
    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    z-index: 10;
}
.navigation a:hover:after {
    display: block;    
    content: "";
    position: absolute;
    top: 50%;
}

.previous {
    left: 0;
}
.previous:hover:after {
    left: 0;
    margin-top: -36px;
    border: solid 36px transparent;
    border-right: solid 36px rgba(0, 200, 200, 0.7);
}
.previous:active:after {
    margin-top: -24px;
    margin-left: 12px;
    border: solid 24px transparent;
    border-right: solid 24px rgba(0, 240, 160, 0.7);
}

.next {
    right: 0;
}
.next:hover:after {
    right: 0;
    margin-top: -36px;
    border: solid 36px transparent;
    border-left: solid 36px rgba(0, 200, 200, 0.7);
}
.next:active:after {
    margin-top: -24px;
    margin-right: 12px;
    border: solid 24px transparent;
    border-left: solid 24px rgba(0, 240, 160, 0.7);
}

/* index ページ */
.index header, .index footer {
    display: none;
}
.index h2 {
    padding-top: 96px;
    font-size: 64px;
    padding-left: 32px;
}
.index #sub-title {
    margin-top: 160px;
    padding-left: 32px;
    font-size: 24px;
    line-height: 1.5;
}

/* eyecatch */
.eyecatch header, .eyecatch footer {
    display: none;
}
.eyecatch {
    background-color: #000;
}
.eyecatch .content {
    position: absolute;
    padding: 0;
    text-align: center;
    color: #f00;
    top: 50%;
    width: 100%;
}
.eyecatch h2 {
    font-size: 64px;
    margin-top: -1em;
}

/* example */
.example {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 90%;
    background-color: rgba(0, 160, 216, 0.3);
    border: 2px dashed #000;
    padding: 0.5em 0.5em 1.5em 0.5em;
    font-style: italic;
    font-size: 16px;
}

.example div {
    background-color: #fff;
    border: 2px dotted #000;
    padding: 0.5em;
    z-index: 2;
}

.example li.inline {
    display: inline;
    list-style-type: none;
}

.example li.inlineblock {
    display: inline-block;
    list-style-type: none;
    padding: 1em 0.5em;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #ffa;
}

/* etc */
blockquote p {
    border: 2px solid #333;
    font-size: 24px;
    padding: 0.5em 1em;
}
span.sitename {
    display: block;
    width: 100%;
    text-align: right;
}