!!! 5
%html
  %head
    %meta{"http-equiv":"content-language", "content":"ja"}
    %meta{"charset":"utf-8"}
    %title HTML & CSS の話 - 2011.10.21
    %link{"rel":"stylesheet", "href":"css/all.css"}
    %script{"charset":"utf-8", "src":"js/jquery.js"}
    %script{"charset":"utf-8", "src":"js/jquery.ba-hashchange.js"}
  %body!= pages
    :javascript
      $(function() {
        var switchTo = function(defaultUrl) {
          var lastUrl;
          return function(url) {
            $(url || defaultUrl).css('display', 'block');
            $('.page').not(url || defaultUrl).css('display', 'none');
            lastUrl = url;
          };
        }('#0');
        $(window).hashchange(function() {
          switchTo(location.hash);
        });
        $(window).hashchange();      
      });
