!!! 5
%html
  %head
    %meta{"http-equiv":"content-language", "content":"ja"}
    %meta{"charset":"utf-8"}
    %title HTML & CSS の話 - 2011.10.21
    %link{"rel":"stylesheet", "href":"css/all.css"}
    %script{"charset":"utf-8", "src":"js/jquery.js"}
    %script{"charset":"utf-8", "src":"js/jquery.pageswitch.js"}
  %body{"class": class}
    #page
      %header
        %h1!= title
      #content!= body
      #navigation
        %a#previous{"href": previous} previous
        %a#next{"href": next} next
      %footer
        %a{href: "/", class: "top"}
          top
    :javascript
      $(function() {
        $('body').css('marginRight', -$('body').width() * 2).animate({marginRight: '10px'}, 300);
        $('#navigation a').pageswitch({
          properties: { marginLeft: -$('body').width() * 2 }, 
          options: { duration: 300 }
        });
      });
