!!! 5
%html
  %head
    %meta{"http-equiv":"content-language", "content":"ja"}
    %meta{"charset":"utf-8"}
    %title HTML & CSS の話 - 2011.10.21
    %link{"rel":"stylesheet", "href":"css/all.css"}
    %script{"charset":"utf-8", "src":"js/jquery.js"}
    %script{"charset":"utf-8", "src":"js/jquery.ba-hashchange.js"}
    %script{"charset":"utf-8", "src":"js/pageSwitcher.js"}
  %body
    #wrapper!= pages
    :javascript
      $(function() {
        var switchPage = createPageSwitcher("#0");
        var lastUrl;
        $(window).hashchange(function() {
          switchPage(lastUrl, location.hash);
          lastUrl = location.hash || "#0";
        });
        $(window).hashchange();
      });
